/* iCheck plugin Flat skin, blue
----------------------------------- */
input[type=checkbox] {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

input[type=checkbox] {
    background-position: 0 0;
}
input[type=checkbox]:checked {
        background-position: -22px 0;
        background-color: skyblue;
        background: url(blue.png) no-repeat;
    }
input[type=checkbox]:disabled {
        background-position: -44px 0;
        cursor: default;
    }
input[type=checkbox]:checked:disabled {
        background-position: -66px 0;
    }


/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_flat-blue,
    .iradio_flat-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}