<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Buscar Cotizacion</title>
    <link rel="import" href="/Views/Shared/Layout.html" id="import">
</head>
<body class="hold-transition skin-yellow fixed sidebar-mini">
    <div class="wrapper">
        <script>
            var getImport = document.querySelector('#import');
            var getContent = getImport.import.querySelector('.main-header');
            document.body.appendChild(getContent.cloneNode(true));

            var getImport = document.querySelector('#import');
            var getContent = getImport.import.querySelector('.sidebar-toggle');
            document.body.appendChild(getContent.cloneNode(true));

            var getImport = document.querySelector('#import');
            var getContent = getImport.import.querySelector('.main-sidebar');
            document.body.appendChild(getContent.cloneNode(true));

            var getImport = document.querySelector('#import');
            var getContent = getImport.import.querySelector('.main-footer');
            document.body.appendChild(getContent.cloneNode(true));

            var getImport = document.querySelector('#import');
            var getContent = getImport.import.querySelector('.control-sidebar');
            document.body.appendChild(getContent.cloneNode(true));

        </script>

        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    COTIZACION
                </h1>
            </section>


            <section class="content">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">BUSQUEDA DE COTIZACION</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="box-title" id="lblResponsableRequerimiento102">Responsable</label>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <input type="text" id="nvResponsableRequerimiento102" name="nvResponsableRequerimiento102" class="form-control" />
                                                        <button type="button" class="btn btn-danger " id="btnNuevaBusquedaRQ102"><span class="glyphicon glyphicon-remove"></span></button>
                                                        <input type="hidden" id="iIdResponsableRequerimiento102" name="iIdResponsableRequerimiento102" />
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="lblNumeroCotizacion105" style="display:block">Numero</label>
                                                <input type="number" id="vcNumeroCotizacion105" name="vcNumeroCotizacion105" class="form-control" style="display:block" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="lblFechaInicioCotizacion105" style="width:100px;">Fecha Inicio</label>
                                                <input type="text" class="datepicker form-control mifecha" id="dFechaInicioCotizacion105" name="dFechaInicioCotizacion105" value="" placeholder="dd/mm/yyyy" />
                                            </div>
                                        </div>


                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="lblFechaFinCotizacion105" style="width:100px;">Fecha Fin</label>
                                                <input type="text" class="datepicker form-control mifecha" id="dFechaFinCotizacion105" name="dFechaFinCotizacion105" value="" placeholder="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label id="lblSedeOrigen23">Almacen</label>
                                                <select class="form-control ListaSede" id="cboSedeOrigen23"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label id="lblEstablecimientoCotizacion105" style="display: block">Estado</label>
                                                <select class="form-control" style="display: block;" id="cboEstaoCotizacion105">
                                                    <option value="0">---TODOS---</option>
                                                    <option value="1">BORRADOR</option>
                                                    <option value="2">CONFIRMADO</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label id="lblAprobadoCotizacion105" style="display: block">Aprobado</label>
                                                <select class="form-control" style="display: block;" id="cboAprobadoCotizacion105">
                                                    <option value="0">---TODOS-----</option>
                                                    <option value="1">PENDIENTE</option>
                                                    <option value="2">APROBADO</option>
                                                    <option value="3">RECHAZADO</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="lblNumeroCotizacion105" style="display:block">Proveedor</label>
                                                <input type="text" id="vcProveedorCotizacion105" name="vcProveedorCotizacion105" class="form-control" style="display:block" />
                                                <input type="hidden" class="form-control" id="nvProveedorRuc105" name="nvProveedorRuc105" value="" />
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success sincabecera" name="btnBuscarCotizacion105" id="btnBuscarCotizacion105">
                                                    <span class="glyphicon glyphicon-search">
                                                    </span>
                                                    <b>Buscar</b>
                                                </button>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                </form>
            </section>
            
            <section class="content">
                <form name="">
                    <div class="box box-primary">
                        <div class="box-header">
                            <table id="CabeceraRequerimiento">
                                <tr>
                                    <td width="100%">
                                        <b>COTIZACION</b>
                                    </td>




                                    <td>
                                        <button type="button" class="btn btn-success" id="btnNuevoCotizacion" name="btnNuevoCotizacion">
                                            <b>Nuevo</b>
                                            <span class="glyphicon glyphicon-file">
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive" id="">
                                        <table class="tablesorter-blue table table-bordered table-hover" id="TablaRegistrarCotizacion">
                                            <thead>
                                                <tr class="info">
                                                    <th style="background-color: #99ffcc" width="100px">Acciones</th>

                                                    <th style="background-color: #99ffcc">Codigo</th>
                                                    <th hidden>vcIdCotizacion</th>
                                                    <th style="background-color: #99ffcc" colspan="3">Responsable</th>
                                                    <th hidden>vcLogin</th>
                                                    <th style="background-color: #99ffcc">Fecha</th>
                                                    <th hidden>dtFecha</th>
                                                    <th style="background-color: #99ffcc">Almacen</th>
                                                    <th hidden>vcIdAlmacen</th>
                                                    <th style="background-color: #99ffcc">Proveedor</th>
                                                    <th hidden>vcIdProveedor</th>
                                                    <th style="background-color: #99ffcc">Estado</th>
                                                    <th hidden>iIdEstado</th>

                                                </tr>
                                            </thead>


                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </section>



       
        </div>
              
        </div>
     
</body>
</html>


<script type="text/javascript">

    $("#vcProveedorCotizacion105").autocomplete({
        source: function (request, response) {
            filtro = $("#vcProveedorCotizacion105").val();
            var data = { filtro: filtro };
            $.ajax({
                type: "GET",
                datatype: "json",
                data: { filtro: filtro },
                url: 'http://localhost:22822/ProveedorByFiltro/Get',
                async: true,
                contentType: "application/json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return { value: item.nvRazonSocial, text1: item.vcRUCProveedor};
                    }))
                },
                error: function () { console.log("ERROR..."); }
            })
        },
        minLength: 3,
        select: function (event, ui) {
            $("#vcProveedorCotizacion105").val(ui.item.text);
            $("#nvProveedorRuc105").val(ui.item.text1);
            //$("#nvTrabajadorR35").prop('readonly', true);
            $("#vcProveedorCotizacion105").css("background-color", "lightgoldenrodyellow");
        },
        error: function (ex) {
            alert('Error al traer datos.' + ex);
        }
    })

    

    $("#nvResponsableRequerimiento102").autocomplete({
        source: function (request, response) {
            filtro = $("#nvResponsableRequerimiento102").val();
            var data = { filtro: filtro };
            $.ajax({
                type: "GET",
                datatype: "json",
                data: { filtro: filtro },
                url: 'http://admin_erp.natclar.com.pe:12000/rWSTrabajador/TrabajadorByFiltro/Get',
                async: true,
                //data: JSON.stringify({usuario: dataobj}),
                //data: JSON.stringify(dataobj),
                //data: jQuery.parseJSON({user:us, pass:passw}),
                //datos: { filtro: filtro },
                contentType: "application/json",
                success: function (data) {
                    //console.log(data)
                    response($.map(data, function (item) {
                        return { value: item.persona.vcApellidoPaterno + " " + item.persona.vcApellidoMaterno + " " + item.persona.vcNombres, text1: item.persona.vcNumeroDocumento };
                    }))
                },
                error: function () { console.log("ERROR..."); }
            })
        },
        minLength: 3,
        select: function (event, ui) {
            $("#nvResponsableRequerimiento102").val(ui.item.text);
            $("#iIdResponsableRequerimiento102").val(ui.item.text1);
            $("#nvResponsableRequerimiento102").prop('readonly', true);
            $("#nvResponsableRequerimiento102").css("background-color", "lightgoldenrodyellow");
        },
        error: function (ex) {
            alert('Error al traer datos.' + ex);
        }
    })
 


    </script>